<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>{{ name }} </h1>

{% for obj in object_list %}

/shop/id/
{% url "shop:detail" id=obj.id %}
/* Versatile pattern for ur - hyperlink to shop */
<a href='{{ obj.get_absolute_url }}'>{{ obj.name }}</a><br/>

{{ obj.id }}<br/>
{{ obj.name }}<br/>
{{ obj.description }}<br/>
{{ obj.main_category }}<br/>
{{ obj.categories }}<br/>
{{ obj.shop_level }}<br/>
{{ obj.is_in_lottery }}<br/>
{{ obj.date_of_creation }}<br/>
{{ obj.date_of_update }}<br/>


{% endfor %}
</body>
</html>