{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}

<h1>{{ name }}</h1>

<!--<script src="{% static "js/shitty_popup.js" %}" alt="My image"/>-->

<script src="static/js/shitty_popup.js"></script>

{{ instance.id }}<br/>
{{ instance.name }}<br/>
{{ instance.description }}<br/>
{{ instance.main_category }}<br/>
{{ instance.categories }}<br/>
{{ instance.shop_level }}<br/>
{{ instance.is_in_lottery }}<br/>
{{ instance.date_of_creation }}<br/>
{{ instance.date_of_update }}<br/>

{% endblock content %}