{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}

<h1>{{ name }}</h1>

<script>
function kill_me(){
    alert('Showing shop with name \n{{ instance.name }}')
}

console.log('hey you!');
kill_me();

</script>

{{ instance.id }}<br/>
{{ instance.name }}<br/>
{{ instance.description }}<br/>
{{ instance.main_category }}<br/>
{{ instance.categories }}<br/>
{{ instance.shop_level }}<br/>
{{ instance.is_in_lottery }}<br/>
{{ instance.date_of_creation }}<br/>
{{ instance.date_of_update }}<br/>

{% endblock content %}